h2 {
    text-align: left;
    font: normal normal medium 30px/39px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    /* margin-top: -10px; */
    margin-left: -10px;
    font-size: 25px;
}

.bt-d1 {
    width: 100%;
    padding: 30px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;

}
.bg-red{
    color: red;
    
}

h3,
h2 {
    margin-left: 2px;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.col3-span {
    margin-left: 2px;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.col-4-span {
    margin-left: 2px;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.bg-div {
    background-color: #fff;
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    height: auto;
}

.input-name {
    border-color: #ADADAD;
    width: 1000px;
    margin: 20px;
    padding: 10px;

}

.two-col-div {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.two-col-div2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.three-col-div {

    display: flex;
    justify-content: space-between;


}

.for-col-div {

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.width-0 {
    padding: 15px;
}

.width-1 {
    width: 48.5%;
    padding: 15px;
}

.width-3 {
    width: 31.5%;
    padding: 15px;
}

.width-4 {
    width: 23.5%;
    padding: 15px;

}

.upload-1 {
    border: 1px solid #C8242F;
    border-radius: 18px;
    opacity: 1;
}

.radio-option {
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.form-check-input:checked {
    background-color: #C8242F;
    border-color: #C8242F;
}


.radio-div {
    display: flex;
    align-items: center;
    margin: 4px;
    padding: 4px;
}

.check-box1 {
    font: normal normal normal 15px/20px Roboto;
}




.snackbar img {
    width: 20px;
}

.border-err {
    border: 1px solid #FF3535;

}

.padding-2 {
    padding: 7px 10px;
}

.col-err {
    color: #FF3535;
}

.col-info {
    color: #00B9E1;
}

.col-warn {
    color: #FFA800;
}

.col-suc {
    color: #00AF27;
}

.border-info {
    border: 1px solid #00B9E1;
}

.border-warn {
    border: 1px solid #FFA800;
}

.border-suc {
    border: 1px solid #00AF27;
}

.span-primary {
    display: inline-block;
    padding: 12px 22px;
    background-color: #C8242F;
    border-radius: 23px;
    font: normal normal medium 18px/24px Roboto;
    color: #FFFFFF;
    margin: 0px 20px;

}

.span-secondary {
    display: inline-block;
    border: 1px solid #C8242F;
    border-radius: 22px;
    padding: 12px 22px;
    margin: 0px 20px;


}

.tab-span1, .tab-span2, .tab-span3{
    
font: normal normal medium 15px/20px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
font-size: 12px;
margin: 10px;
padding: 11px;
font-size: 15px;
}

.tab-span2 , .tab-span3{
    color: #ADADAD;
}

.lorem-p{
    font-size: 15px;
    color: #3E3E3E;
    font: normal normal normal 15px/24px Roboto;
}

.border-dashed{
    border: 2px dashed #ADADAD;
}
.input-font{
font-size: 12px;
}

.radio-margin{
    margin-left: 7px;
    margin-right: 15px;
}
.radio-width{
    width: 12px;
    padding: 6px;
}

.image-width{
    width: 40px;
}

@media(max-width:1300px){
    .bt-d1{
        padding: 20px;
    }
    .aside1{
        width: 185px;
    }
}
@media(max-width:880px){
    .padding-2 {
        padding: 2px 6px;
    }
}



@media(max-width:895px){
   .header{
    height: 7rem;
   } 

   .i1 {
    width: 2.5rem;
    margin: 1.7rem;
}
.i2 {
    width: 13.2rem;
    margin: 1.6rem;
}
.i3 {
    width: 2.1rem;
    margin: 0.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.i4 {
    width: 1.7rem;
    margin-right: 5rem;
}
.i5 {
    width: 3.9rem;
    margin-right: 2rem;
}

.header-div2{
    padding: 1rem 1rem;
}

.aside1{
    width: fit-content;
}
.l1 {
    display: flex;
    margin: 14px;
    padding-left: 7px;
}

aside span{
    display: none;
}
aside li{
    width: fit-content;
}

.n3{
    width: fit-content;
}
.bt-d1{
    width: 100%;
    padding: 13px;
}

}

@media(max-width:730px){

    .section1{
        padding: 1.5rem;
    }
    
.header-div1, .header-div2 {
    padding: 1rem 1.5rem;
}

.i1 {
    width: 1.3rem;
}

.i2 {
    width: 10rem;
}

.i3 {
    margin-left: 3rem;
}

.s1, .s2 {
    font-size: 1.4rem;
    font-weight: 800;
}

.i6 {
    margin-right: 2rem;
}

.i5 {
    width: 3.8rem;

}

.i4 {
    width: 1.8rem;
    margin-right: 1rem;
}
    .table-div th, .table-div td{
        font-size: 6px;
    }
    .header{
        width: 100%;
    }
    .li5-list {
        width: 53rem;
    }

    .bt-d1{
        padding: 15px;
    }


}

@media(max-width:570px){

    .i6{
        display: none;
    }
    .s2{
        display: none;
    }

    .li5-list {
        width: 40rem;
    }
}

@media(max-width:465px){

    .li5-list {
        width: 30rem;
    }

    .header-div1, .header-div2 {
        padding: 0.7rem 1.1rem;
    }
    
    .i1 {
        width: 1rem;
    }
    
    .i2 {
        width: 7rem;
    }
    
    .i3 {
        margin-left: 1.9rem;
    }
    
    .s1, .s2 {
        font-size: 1rem;
        font-weight: 700;
    }
    
    .i6 {
        margin-right: 1.5rem;
    }
    
    .i5 {
        width: 2.8rem;
    
    }
    
    .i4 {
        width: 1.1rem;
        margin-right: 0.5rem;
    }
        
        .header{
            width: 100%;
        }
        
}