*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(248, 247, 247);
}

.section1{
    width: 50%;
    float: left;
    position: relative;
    /* border: 2px solid red; */
    height: 100vh;
    
}

.section2{
    width: 50%;
    float: right;
    position: relative;
    height: 100vh;
    padding: 1rem;
}

.d1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin-top: 30px; */
    margin-left: 5rem;
    margin-bottom: 5rem;
    height: 45.6rem;
    width: 45.6rem;
    border-radius: 50%;
    border: 2.0rem solid white;
}

.a1{
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    height: 50.0rem;
    width: 50.0rem;
    margin-top: 22.0rem;
    /* border: 2px solid red; */
    
}
#i1{
    top: 18.3rem;
left: 90.5rem;
width: 40.0rem;
height: 8.0rem;
/* UI Properties */
text-align: left;
font: normal normal 300 40px/47px Roboto;
font-size: 3.0rem;
letter-spacing: 0px;
color: black;
opacity: 80%;
font-family: Roboto;

}

.d2{
    height: 5.0rem;
    width: 5.0rem;
}

#i2{
    font-size: 4.0rem;
    color: black;
    margin-left: 1.5rem;
}
.a2{
    display: flex;
}

#i3{
    font-size: 3.0rem;
    color: black;
    margin-top: 4.0rem;
    opacity: 70%;
    font-family: Roboto;

}

.z1{
   
    width: 35.0rem;
    padding-left: 2rem;
    margin-top: 2rem;
    height: 3.5rem;
    border: .15rem solid gray;
    border-radius: .35rem;
    opacity: 50%;
}

.z2{
    width: 35.0rem;
    padding-left: 2.0rem;
    margin-top: 2.0rem;
    height: 3.5rem;
    border: .15rem solid gray;
    border-radius: .35rem;
    opacity: 50%;
}

.a5{
    float: left;
    height: 4.5rem;
    width: 13.8rem;
    border: 0.2rem solid red;
    text-align: center;
    padding-top: 1.05rem;
    border-radius: 3.5rem;
    color: white;
    background-color: rgb(174, 49, 49);
    margin-left: 1.0rem;

}
.a6{
    float: right;
    height: 4.5rem;
    width: 23.8rem;
    margin-top: 1.5rem;
    opacity: 50%;
    margin-right: 3.0rem;

}
.a7{
    margin-top: 1.0rem;
    clear: both;
    
}
.a8{
    color: rgb(209, 91, 91);
    font-weight: bolder;
}
.a9{
    color: red;
}
.a11{
    opacity: 50%;
}


@media (max-width:360px){
    .section1{
        width: 100%;
        height: 50vh;
        margin: auto;
    }
    .section2{
        width: 100%;
    }
    .d1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 11rem;
        margin-left: -1rem;
        height: 30.6rem;
        width: 30.6rem;
        border-radius: 50%;
        border: 2rem solid white;
    }
    .a1{
        margin-top: 12rem;
        margin-left: 7rem;
    }

    html{
        font-size: 35%;
    }
    

   
}
/* @media (max-width:1700px){
    .d1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 25rem;
        margin-left: -1rem;
        height: 35.6rem;
        width: 35.6rem;
        border-radius: 50%;
        border: 2rem solid white;
    }

    
} */
/* /* @media(min-width:1800px) and (max-width: 1850px){

    .a1{
        margin-top: 31.0rem;

    }
 */
/* } */

@media(max-width:1800px){

    .a1{
        margin-top: 22.0rem;

    }

} 

@media(max-width:1200px){

    .a1{
        margin-top: 25.0rem;

    }
    .d1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 2rem;
        margin-left: 3rem;
        height: 40.6rem;
        width: 40.6rem;
        border-radius: 50%;
        border: 2rem solid white;
    }

    .a1{
        margin-left: 2rem;
        /* margin-top: 22rem; */
    }

    
}

/* @media(max-width:1100px){

    .d1{
        margin-left: -1rem;
        height: 35.6rem;
        width: 35.6rem;
    }
    .a1{
        margin-left: -2rem;
        margin-top: 35rem;
    
    }
    html{
        font-size: 55%;
    }
} */
@media(max-width:900px){

    .d1{
        margin-left: 1rem;
        height: 38.6rem;
        width: 38.6rem;
    }
    .a1{
        margin-left: 1rem;
        margin-top: 35rem;
    
    }
    html{
        font-size: 50%;
    }
}

@media (max-width:620px){

    .section1{
        display: block;
        width: 100%;
        height: 50vh;
    }

    .section2{
        display: block;
        width: 100%;
    }

    .d1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 12rem;
        margin-left: -5rem;
        height: 42.6rem;
        width: 42.6rem;
        border-radius: 50%;
        border: 2rem solid white;

}
.a1{
    margin-top: 14rem;
    margin-left: 13rem;

}
html{
    font-size: 50%;
}

}
@media (max-width:510px){

    .section1{
        display: block;
        width: 100%;
        height: 40vh;
    }

    .section2{
        display: block;
        width: 100%;
    }

    .d1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 12rem;
        margin-left: -4rem;
        height: 38.6rem;
        width: 38.6rem;
        border-radius: 50%;
        border: 2rem solid white;

}
.a1{
    margin-top: 14rem;
    margin-left: 9rem;

}
html{
    font-size: 45%;
}

}






@media (max-width:420px){

    .section1{
        display: block;
        width: 100%;
        height: 40vh;
    }

    .section2{
        display: block;
        width: 100%;
    }

    .d1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 12rem;
        margin-left: -3rem;
        height: 36.6rem;
        width: 36.6rem;
        border-radius: 50%;
        border: 2rem solid white;

}
.a1{
    margin-top: 14rem;
    margin-left: 7rem;

}
html{
    font-size: 43%;
}

}






